.lpMedicalHeader-container {
  border: solid red;
  height: 600px;
  width: 100%;
  position: relative;
}
.lpMedicalHeader-cover {
  border: solid green;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.422);
  position: absolute;
  top: 0;
  left: 0;
}
.lpMedicalHeader-content {
  border: solid yellow;
  height: 100%;
  width: 50%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.lpMedicalHeader-btn{
    border: solid blue;
}
.lpMedicalHeader-content>h6{
font-size: 25px;
font-weight: bold;
color: white;
}
.lpMedicalHeader-content>h2{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.lpMedicalHeader-content>p{
    font-size: 20px;
    color: white;
}