.LpPetsNavbar-container {
  /* border: solid red; */
  width: 100%;
  height: 80px;
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LpPetsLogo-logo {
  /* border: solid green; */
  width: fit-content;
  height: 100%;
  overflow: hidden;
}
.LpPetsLogo-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(2);
}
.lpPetsMenu-container {
  border: solid blue;
  width: 80%;
  height: 100%;
}
.lpPetsMenu-content {
  border: solid green;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lpPetsMenu-content > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
  gap: 40px;
}
.lpPetsMenu-content > ul > li {
  list-style: none;
}
.lpPetsMenu-content > ul > li > a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
.navBtn-container {
  border: solid teal;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBtn-container > button {
  padding: 10px 20px;
  background-color: var(--customColor);
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 5px 0px black;
  border: none;
  transition: 100ms ease;
  &:hover {
    box-shadow: 0 0px 0px black;
  }
}
